body{
    background-color: lightgray;
}
.fa{
    color: blue;
}
.box-center{
    background-color: white;
    padding: 60px 0px;
    margin:30px opx;
}
.box{
padding:60px 0px;
}
.text{
    margin:2opx opx;
}
span{
    font-size: 14px;
}
a{
    border-bottom: 1px solid blue;
}